*
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#header
{
	padding-left:5px;
	padding-top:15px;
	padding-bottom:15px;
	height:20px;
	width :100%;
	
	background-color: #920000;
	 vertical-align:top;
}
#login
{
	float:left;
}
#register
{
	float:left;
	width:73px;
}
#logoutform
{
	float:left;
	width: 80px;
}
#loginform
{
	float:left;
	width:435px;
	
}
#loginform input
{
	height:17px;
}
#username
{
	width:80px;
	float:left;
}
#registerfrm
{
	float:left;
}
#registerfrm input
{
	height:17px;
}

