*
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#header
{
	padding-left:5px;
	padding-top:5px;
	width :100%;
	height:50px;
	background-color: #920000;
	 vertical-align:top;
}
#login
{
	float:left;
}
#register
{
	float:left;
	width:73px;
}
#logoutform
{
	float:left;
	width: 80px;
}
#loginform
{
	float:left;
	width:435px;
}
#username
{
	width:80px;
	float:left;
}