#header
{
	padding-left:5px;
	padding-top:15px;
	padding-bottom:15px;
	height:60px;
	width :98.5%;
	margin-top:10px;
	border-radius:5px;
	background-color: #920000;
	border-width:1px;
	border-color:red;
	border-style:solid;
	vertical-align:top;
}
#login
{
	float:left;
}
#loginform
{
	float:left;
	width: 432px;
	height:60px;
	 background-color: #da4f38;
	
}
.logintextbox
{
	width:137px;
}
#loginbt
{
	border: 1px solid red;
	height:60px;
	width:150px;
	background-color:#da4f38;
}
body
{
	padding-left:20px;
	background-color: #ffdcdc;
}#register
{
	float:left;
	width: 190px;
	border-radius:5px;
	background-color:#fd9d9d;
	border-width:1px;
	border-color:red;
	border-style:solid;
	margin-top: 15px;
	padding-left: 15px;
}
#content
{
	width:100%;
	
	
}.feed
{
	margin-top:15px;
	float:left;
	border: 1px solid red;
	border-radius:5px;
	width:100%;
	height:250px;
	
}


.titlebar
{
	background-color: #920000;
	width:100%;
	height:40px;
	color:white;
	text-align:left;
}
.titlebar-title
{
	padding:10px;
	margin:0;
}
#centerfeed
{margin-left:0.81%;
	
	float:left;
	width:77%;
}
.feedfooter
{
	background-color: #920000;
	height: 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}
.feedcontent
{
	height:170px;
	background-color:#fd9d9d;
	
}
#senderbox
{
	height:20px; 
	width:100px;
	float:left;
}
#rightsidebar
{
	
	border: 1px solid red;
	border-radius:5px;
	float:right;
	width:9.4%;
	height:500px;
	margin-right:20px;
	margin-top:15px;
	background-color:#fd9d9d;
	
}
#error
{
	float:left;
}